.container {
    border: 1px solid white;
}

.active {
            
    border-left: 7px solid white;
    background-image: linear-gradient(to right, #1b1a1a, #111111);
}

.centralizado {
    margin: 0 auto;
    text-align: center;
}

.circle {

    border-radius: 100%;
}

body {

    display: grid;
    grid-template-areas: 
        "cabecalho""pagina"
                    "rodape"
    ;

    grid-template-rows: auto 10rem;
    grid-template-columns: 15% 85%;

    width: 100%;
    height: 100%;

    font-family: var(--fonte-base);
    color: var(--color-font-base);
    background: var(--color-background-base);
}

input {

    border: none;
    background: none;
    color: white;
    border-bottom: 0.1px solid white;
    width: 100%;
    cursor: pointer;
}

select {

    background: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    width: 50px;
    font-size: 1rem;
}

option {

    background: #111111;
    border: none;
}
