.principal__title, .principal__title div, .circle, .principal__tickets, .principal__tickets___student, .principal__tickets___student--description div:nth-child(2), .principal__tickets___student--description,
.principal__tickets___premium, .principal__tickets___premium--description, .principal__tickets___premium--description div:nth-child(2), .principal__tickets___entire, .principal__tickets___entire--description, .principal__tickets___entire--description div:nth-child(2) {

    display: flex;
}

.principal__title {

    height: 9rem;
    justify-content: space-around;
    margin-bottom: 2rem;
    width: 90%;
}

    .principal__title div {

        align-items: flex-end;
        border-bottom: .2rem solid white;
        font-size: 3rem;
        justify-content: center;
        padding-bottom: 5px;
        width: 30%;
    }

    .principal__title div:nth-child(2) {

        height: 80%;
    }

li {

    list-style: disc;
    margin-bottom: 1rem;
}

.circle {

    align-items: center;
    background: var(--color-background-base);
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    width: 45%;
}

.circle img {

    filter: invert(100%);
    height: auto;
    width: 60%;
}

.principal__tickets {

    align-items: baseline !important;
    height: 38rem;
    justify-content: space-around;
    width: 90%;
}

    .principal__tickets___student {
        
        align-items: center;
        background: #111111;
        border-radius: 25px;
        box-shadow: var(--shadow-click);
        flex-direction: column;
        height: 30rem;
        justify-content: center;
        width: 30%;
    }

        .principal__tickets___student--icon {

            height: 40%;
            margin-bottom: 1.5rem;
            width: 95%;
        }
        
        .principal__tickets___student--description {
            
            background: var(--color-background-base);
            border-radius: 25px;
            height: 50%;
            width: 90%;
        }

            .principal__tickets___student--description div:nth-child(1) {

                font-size: 1.5rem;
                height: 100%;
                padding: 40px;
                width: 70%;
            }

            .principal__tickets___student--description div:nth-child(2) {

                align-items: flex-end;
                height: 100%;
                justify-content: flex-end;
                width: 30%;
            }

                .principal__tickets___student--description div img {

                    filter: invert(100%);
                    height: auto;
                    width: 95%;
                }

    .principal__tickets___premium {

        align-items: center;
        background: var(--color-background-container);
        border-radius: 25px;
        box-shadow: var(--shadow-click);
        flex-direction: column;
        height: 33rem;
        justify-content: center;
        width: 30%;
    }

        .principal__tickets___premium--icon {

            margin-bottom: 1.5rem;
            height: 40%;
            width: 95%;
        }

            .principal__tickets___premium--icone .circle {

                width: 50%;
            }

        .principal__tickets___premium--description {

            background: var(--color-background-base);
            border-radius: 25px;
            height: 50%;
            width: 90%;
        }

            .principal__tickets___premium--description div:nth-child(1) {

                font-size: 1.5rem;
                height: 100%;
                padding: 40px;
                width: 70%;
            }

            .principal__tickets___premium--description div:nth-child(2) {

                align-items: flex-end;
                height: 100%;
                justify-content: flex-end;
                width: 30%;
            }

                .principal__tickets___premium--description div img {

                    filter: invert(100%);
                    height: auto;
                    width: 95%;
                }

    .principal__tickets___entire {

        align-items: center;
        background: var(--color-background-container);
        border-radius: 25px;
        box-shadow: var(--shadow-click);
        flex-direction: column;
        height: 30rem;
        justify-content: center;
        width: 30%;
    }

        .principal__tickets___entire--icone {

            height: 40%;
            margin-bottom: 1.5rem;
            width: 95%;
        }

        .principal__tickets___entire--description {

            background: var(--color-background-base);
            border-radius: 25px;
            height: 50%;
            width: 90%;
        }

            .principal__tickets___entire--description div:nth-child(1) {

                font-size: 1.5rem;
                height: 100%;
                padding: 40px;
                width: 70%;
            }

            .principal__tickets___entire--description div:nth-child(2) {

                align-items: flex-end;
                height: 100%;
                justify-content: flex-end;
                width: 30%;
            }

                .principal__tickets___entire--description div img {

                    filter: invert(100%);
                    height: auto;
                    width: 95%;
                }

@media screen and (max-width: 480px) {

    .principal__title {

        display: none;
    }

    .principal__tickets {

        flex-direction: column;
        margin: 0 auto;
        height: auto;
        justify-content: center;
        width: 100%;
    }

        .principal__tickets___student {
            
            align-items: center;
            margin: 0 auto;
            background: #111111;
            border-radius: 25px;
            box-shadow: var(--shadow-click);
            flex-direction: column;
            height: 25rem;
            justify-content: center;
            width: 85%;
            margin-bottom: 2rem;
        }

            .principal__tickets___student--description div:nth-child(1) {

                font-size: 1rem;
                height: 100%;
                padding: 40px;
                width: 70%;
            }

                .principal__tickets___student--description div img {

                    filter: invert(100%);
                    height: auto;
                    width: 90%;
                }

        .principal__tickets___premium {

            align-items: center;
            background: var(--color-background-container);
            border-radius: 25px;
            box-shadow: var(--shadow-click);
            flex-direction: column;
            height: 25rem;
            justify-content: center;
            width: 85%;
            margin: 0 auto;
            margin-bottom: 2rem;
        }

            .principal__tickets___premium--description div:nth-child(1) {

                font-size: 1rem;
            }

                .principal__tickets___premium--description div img {

                    filter: invert(100%);
                    height: auto;
                    width: 90%;
                }

        .principal__tickets___entire {

            align-items: center;
            background: var(--color-background-container);
            border-radius: 25px;
            box-shadow: var(--shadow-click);
            flex-direction: column;
            height: 25rem;
            justify-content: center;
            width: 85%;
            margin: 0 auto;
        }

            .principal__tickets___entire--description div:nth-child(1) {

                font-size: 1rem;
            }

                .principal__tickets___entire--description div img {

                    filter: invert(100%);
                    height: auto;
                    width: 90%;
                }
}