.principal__highlights {
    
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50rem;
    height: 50rem;
    margin-bottom: 5rem;
    width: 90%;
}

    .principal__highlights___movie {

        box-sizing: border-box;
    }

    .principal__highlights___movie:nth-child(1) {

        background: url('../../img/banners/the-batman-2.jpeg') center/ cover no-repeat;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .principal__highlights___movie:nth-child(2) {

        background: url('../../img/banners/avatar-caminho-da-agua-abnner.jpeg') center/ cover no-repeat;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .principal__highlights___movie:nth-child(3) {

        background: url('../../img/banners/spider.jpeg') center/ cover no-repeat;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .principal__highlights___movie:nth-child(4) {

        background: url('../../img/banners/black-adam.jpeg') center/ cover no-repeat;
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

