.base-footer {

    display: flex;

    grid-area: rodape;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    background: var(--color-background-container);
}

    .base-footer__logo {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 100%;
    }